<!DOCTYPE html>
<html>

<head>
	<title>User Manager</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

	<style>
		.bold {
			font-weight:bold;
		}

		.margin-top-20 {
			margin-top:20px;
		}

		.small-container {
			width:700px;
			margin-left:auto;
			margin-right:auto;
		}

		.txt-right {
			text-align:right;
		}

		.margin-left-10 {
			margin-left:10px;
		}
	</style>
</head>

<body>

<div class="small-container">
	<h1>User Manager</h1>

	<div>
		<a href="#" class="btn btn-primary">Back</a>
	</div>
</div>

<div class="small-container margin-top-20">
	<div class="well">
		<form method="post" action="/edit/<%= userInfo.id %>?_method=put">
			<div class="bold">
				First Name
			</div>
			<div class="margin-top-20">
				<input type="text" name="firstname" class="form-control" value="<%= userInfo.firstname %>" />
			</div>
			<div class="bold margin-top-20">
				Last Name
			</div>
			<div class="margin-top-20">
				<input type="text" name="lastname" class="form-control" value="<%= userInfo.lastname %>" />
			</div>
			<div class="bold margin-top-20">
				Username
			</div>
			<div class="margin-top-20">
				<input type="text" name="username" class="form-control" value="<%= userInfo.username %>" />
			</div>
			<div class="bold margin-top-20">
				Age
			</div>
			<div class="margin-top-20">
				<input type="text" name="age" class="form-control" value="<%= userInfo.age %>" />
			</div>
			<div class="margin-top-20 txt-right">
				<a href="#" class="btn btn-default">Cancel</a>
				<button type="submit" class="btn btn-primary margin-left-10">Edit User</button>
			</div>
		</form>
		<form method="post" action="/delete/<%= userInfo.id %>?_method=delete">
			<div class="txt-right margin-top-20">
				<button type="submit" class="btn btn-danger">Delete User</button>
			</div>
		</form>
	</div>
</div>

<!--jQuery-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</body>

</html>